<html>
<head>
  <title>The Squirrus Tales</title>
  <link rel="stylesheet" type="text/css" href="static/reset.css" />
  <link rel="stylesheet" type="text/css" href="static/main.css" />

  <!-- <script type="text/javascript" -->
  <!--         src="static/json2.js"></script> -->
  <script type="text/javascript"
          src="static/jquery-1.6.min.js"></script>
  <script src="http://cdn.sockjs.org/sockjs-0.1.min.js">
  </script>

  <script type="text/javascript"
          src="static/main.js"></script>
</head>
<body>
  <script>
    var sockjs_url = "{{ sockjs_url }}";
  </script>
  <div id="maincolumn">
  <div id="box">
Connecting...
</div><br>
  <form id="form">
    <span id="prompt">&gt;</span> <input id="input" type="text" size="80" autocomplete="off" />
  </form>
  <br>
  </div>
</input>
</body>
</html>

